[submodule "themes/pulp"]
	path = themes/pulp
	url = https://github.com/koirand/pulp.git
[submodule "public"]
	path = public
	url = https://github.com/muhrifqii/muhrifqii.github.io.git
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
