[submodule "public"]
	path = public
	url = https://github.com/muhrifqii/muhrifqii.github.io.git
	branch = master
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/muhrifqii/toha.git
	branch = master
